/* navbar--section */

.navigationbar{
    background-color:crimson;
    font-size: 1.5rem;
}

/* about--section */
.about{
    width: 100%;
    height: 100vh;
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding-top: 40vh;
}
.about-heading1{
    color:white;
    font-weight: 600;
    font-size: 5rem;
}
.about-heading2{
    color: crimson;
    font-size: 2rem;
}

/* work--section */

.work{
    width:100%;
    background-color: #45567d;
    padding-bottom: 4rem;
}
.work-h1{
    text-align: center;
    padding-top: 6rem;
    font-size: 4rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}
.work-a{
    padding:4rem;
}
.work-b{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 4rem;
}
.cols{
    /* height: 300px; */
    /* object-fit: cover; */
    background-color: rgb(51, 51, 51);
    margin: 2rem;
    text-align: center;
    width: 100%;
    transition: margin-top 0.1s;
    
}

.project{
    
    width: 100%;
    height: auto;
}

.img-h4{
    text-decoration: none;
    background-color: transparent;
    color: white;
}
.project-link{
    text-decoration: none;
}

/* contact--section */


.contact{
    height:100vh;
    background-color: rgb(51, 51, 51);
    text-align: center;
}
.contact-div{
    padding-top:30vh;;
    color:white
}
.contact-h1{
    font-size:5rem;
    font-weight: 600;
    
}
.contact-para{
    font-size:1rem;
    font-weight: 0;
    padding-top: 3vh;
}
.contact-links{
    font-size: 1.5rem;
    padding-top: 8vh;
}
.link{
    margin:2rem;
    color:white;
    background-color: transparent;
    text-decoration: none;
}
.link:hover{
    transform: translateY(-2px);
}

/* footer--section */


.footer-div{
    padding: 0.5rem;
    color: white;
}
.footer-h{
    margin:0 2rem 0 2rem;
    display: inline;
}
footer{
    background-color:#45567d;
}

/* media--qeuries */


@media(max-width:1024px){
    html{
        font-size: 60%;
    }
    .contact{
        height:80vh;
    }
    
}
@media(max-width:802px){
    .work-b{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:2rem;
    }
}
@media(max-width:618px){
    .work-h1{
        font-size: 2.5rem;
    }
    .work-b{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .about-heading1{
        font-size: 3rem;
    }
    .about-heading2{
        font-size: 1.5rem;
    }
    .cols{
        margin:2rem 0 2rem 0;
    }
    .contact-h1{
        font-size: 2.5rem;
    }
    .contact-links{
        font-size: 1rem;
    }
    .footer-h:not(.fa-linux){
        font-size: 0.8rem;
    }
}
@media(min-width:1024px){
    .cols:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 26px;
    }
}

